.App-header {
  text-align: center;
  position: fixed;
  width: 100%;
  background-color: #3b4648;
  height: 100px;
  top: 0px;
  z-index: 1000;
}

.App-title {
  font-size: 60px;
  color: white;
  padding-top: 15px;
}

.content {
  margin-top: 120px;
}

.padding-top {
  padding-top: 30px;
}

.date-search-btn {
  margin-top: 10px;
}

.table-header:hover {
  color: #5a95f5;
  cursor: pointer;
}

#investment-name-btn {
  color: black;
  width: 75%;
  background-color: lightgray;
}

#investment-name-btn:hover {
  color: white;
  width: 75%;
  background-color: #5a6268;
}
